.mainCompanyContents {
    box-sizing: border-box;
    padding-top: 20px;
}

.allFilingsTable {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 3px 3px 10px var(--grey-100);
    border: 1px solid var(--grey-100);
}

.allFilingsTable > tbody > tr {
    border-bottom: 1px solid var(--grey-300);
    box-sizing: border-box;
}
.allFilingsTable > tbody > tr:last-child { border: none; }
