.mainCompanyContents {
    box-sizing: border-box;
    padding-top: 20px;
}

.allFilingsTable {
    display: table;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 3px 3px 10px var(--grey-100);
    border: 1px solid var(--grey-100);
}

.allFilingsTable > a {
    display: table-row;
    border-bottom: 1px solid var(--grey-300);
    box-sizing: border-box;
}
.allFilingsTable > a:last-child { border: none; }
.allFilingsTable > a:hover,
.allFilingsTable > a:focus {
    background-color: var(--grey-50);
}

.allFilingsTable > a > span {
    display: table-cell;
}
