# Do not commit or rename this file

# Prod DB connection string:
ROCKET_DATABASES = "{postgres_datastore={url=\"postgres://username:password@myapp.someaddress.us-wheast-2.rds.amazonaws.com:9999/datastore\"}}"

# RDS login info
rds_username = "username"
rds_password = "password"

# api.birb.io certificate
birb_api_certificate_arn = "arn:aws:acm:us-wheast-2:000000000000:certificate/some-long-id"

# An IP that I use sometimes...
marty_ip_address_1 = "199.9.199.99"

# Another IP that I use sometimes...
marty_ip_address_2 = "199.9.199.99"

# My SSH pubkey
marty_id_rsa_pub = "ssh-rsa thisKeyIsSoPublicYouCantBelieveIt"
