@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  appearance: none;
  font-smoothing: antialiased;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

body {
  width: 100%;
  height: 100%;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: var(--main-bg-color);
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

:global(.container) {
  min-width: 230px;
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
}

button,
input[type='checkbox'] {
  outline: none;
}

.normal {
  background: #fff;
  margin: 200px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.normal input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.normal input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.normal input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.normal h1 {
  position: absolute;
  top: -155px;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

/***********
 * COLORS  *
 ***********/

:root {
  --grey-50: #FAFAFA;
  --grey-100: #F5F5F5;
  --grey-200: #EEEEEE;
  --grey-300: #E0E0E0;
  --grey-400: #BDBDBD;
  --grey-500: #9E9E9E;
  --grey-600: #757575;
  --grey-700: #616161;
  --grey-800: #424242;

  /* flatui colors */

  --Turquoise: #1abc9c;
  --Emerland: #2ecc71;
  --Peterriver: #3498db;
  --Amethyst: #9b59b6;
  --Wetasphalt: #34495e;
  --Greensea: #16a085;
  --Nephritis: #27ae60;
  --Belizehole: #2980b9;
  --Wisteria: #8e44ad;
  --Midnightblue: #2c3e50;
  --Sunflower: #f1c40f;
  --Carrot: #e67e22;
  --Alizarin: #e74c3c;
  --Clouds: #ecf0f1;
  --Concrete: #95a5a6;
  --Orange: #f39c12;
  --Pumpkin: #d35400;
  --Pomegranate: #c0392b;
  --Silver: #bdc3c7;
  --Asbestos: #7f8c8d;
  --main-bg-color: white;
}

/*************
 * Z-INDEXES *
 *************/

:root {
  --header-z-index: 100;
}
